@{
    ViewData["Title"] = "Home Page";
}
@{
    var data = new string[] { "Home", "About", "Contact" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@await Html.PartialAsync("_Header", new ViewDataDictionary(ViewData)
       {
           { "data", data }
       })

@await Html.PartialAsync("_Footer", data)